<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">
            Interswitch API Demos
        </span>
    </a>
    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                Accept Payments
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/accept-payments/inline-checkout">Inline Checkout</a></li>
                <li><a class="dropdown-item" href="/accept-payments/web-redirect">Web Redirect</a></li>
                <!-- <li><a class="dropdown-item" href="/accept-payments/card-payments-api">Card Payments API</a></li> -->
                <li><a class="dropdown-item" href="/accept-payments/pay-bill">Pay Bill</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                Value Added Services
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                KYC / KYB
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">
                Cardless Services
            </a>
        </li>
    </ul>
</div>